<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MatrexServlet</servlet-name>
        <servlet-class>ie.cngl.dcu.MatrexServlet</servlet-class>
        <init-param>
            <param-name>databaseURL</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>langPairsFile</param-name>
            <param-value>settings.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PostEditServlet</servlet-name>
        <servlet-class>ie.cngl.dcu.PostEditServlet</servlet-class>
        <init-param>
            <param-name>databaseURL</param-name>
            <param-value>localhost</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TrackEditsServlet</servlet-name>
        <servlet-class>ie.cngl.dcu.TrackEditsServlet</servlet-class>
        <init-param>
            <param-name>databaseURL</param-name>
            <param-value>localhost</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatrexServlet</servlet-name>
        <url-pattern>/MatrexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostEditServlet</servlet-name>
        <url-pattern>/PostEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackEditsServlet</servlet-name>
        <url-pattern>/TrackEditsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
